*{
    margin: 0;
  }
  
  .hidden{
    display: none;
  }
  
  .blank{
    width: 100%;
    height: 100px;
    position: absolute;
    top:25px;
  }
  
  .first_section{
    position: relative;
    width: 100%;
    height: 625px;
    background-color: rgb(247, 229, 234);
    padding-top: 120px;
    z-index: 7;
  }

  .fs_design{
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 0;
    background-color: rgb(241, 209, 213);
    z-index: 5;
  }

  .fs_design1{
    position: absolute;
    width: 415px;
    height: 415px;
    border-radius: 50%;
    background : linear-gradient(rgb(244,212,222),rgb(202,228,235));
    left: 696px;
    top: 237px;
    z-index: 4;
  }
  
  .maxim{
    position: absolute;
    top: 90px;
    left: 0px;
    width: 440px;
    height: 370px;
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Spring_main_slogan.png);
    background-repeat: no-repeat;
  }
  
  .pic_box{
    position: relative;
    width: 1250px;
    height: 625px;
    margin: 0 auto;
    margin-right: 30px;
    z-index: 9;
  }
  

  .notice{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: black;
  }
  
  .color_half{
    position: absolute;
    width: 50%;
    height: 60px;
    right: 0;
    background-color: white;
  }
  
  .notice_box{
    width: 950px;
    margin: 0 auto;
    height: 60px;
    font-size: 10px;
  }
  
  .Notice_text{
    position: relative;
    display: inline-block;
    color: white;
  }
  
  .promotion{
    position: relative;
    display: inline-block;
    color:  black;
    float: right;
  }
  
  