@keyframes slide_in {
    from{
        opacity: 0;
        transform: translateX(40px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.menu_pic1{
    position: absolute;
    top: 182px;
    left: 128px;
    width: 440px;
    height: 370px;
    background-image: url(https://image.istarbucks.co.kr/img/event/2021/2021_christmas2_drink.png);
    background-repeat: no-repeat;
    animation: slide_in 0.7s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  .menu_pic2{
    opacity: 0;
    position: absolute;
    top: 108px;
    left: 510px;
    width: 440px;
    height: 508px;
    background-image: url(https://image.istarbucks.co.kr/img/event/2021/2021_christmas2_drink2.png);
    background-repeat: no-repeat;
    
    animation: slide_in 0.7s ease-in-out;
    animation-delay: .7s;
    animation-fill-mode: forwards;
  }
  
  .menu_pic3{
    opacity: 0;
    position: absolute;
    top: 65px;
    left: 766px;
    width: 440px;
    height: 552px;
    background-image: url(https://image.istarbucks.co.kr/img/event/2021/2021_christmas2_drink3.png);
    background-repeat: no-repeat;
    
    animation: slide_in .7s ease-in-out;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
  }
  